@use '_variables';
.loader{
    .overlay{
        background-color: rgba($color: variables.$overlayColor, $alpha: 0.6);
        z-index: 999999;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        align-items: center;
        display: flex;
        justify-content: center;
        .spinner-border{
            color: variables.$primaryColor;
            width: 57px;
            height: 57px;
            border-width: 4.5px;
        }
    }
    
}